{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": true
      }
    ],
    [
      "babel-preset-airbnb",
      {
        "presets": [
          "airbnb"
        ]
      }
    ]
  ]
}