.panel {
  padding: 10px 20px 20px;
  min-width: 320px;
  margin-right: 50px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  flex-shrink: 0;
  &__input {
    outline: none;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 7px 5px 7px 10px;
    -moz-appearance: textfield;
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &_medium {
      width: 80%;
    }
    &_short {
      width: 60%;
    }
  }
  &__block {
    text-align: left;
    margin-top: 10px;
    &_column {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
    }
    &_row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
    &_margin-l {
      margin-left: 10px;
    }
  }
  &__radio {
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    &_margin-left {
      margin-left: 15px;
    }
  }
  &__checkbox {
    margin-left: 0px;
    margin-right: 5px;
  }
  &__label {
    width: 100%;
    &_flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
