.panel {
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  padding: 20px 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &__column {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    text-align: left;
  }

  &__label {
    width: 100%;
    margin-bottom: 10px;

    &_position {
      &_center {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 5px 7px 10px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px;
    outline: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
    &_size {
      &_m {
        width: 80%;
      }

      &_s {
        width: 60%;
      }
    }
  }

  &__radio {
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0;
  }

  &__checkbox {
    margin-right: 5px;
    margin-left: 0;
  }

  &__text {
    margin: 0;
  }
}
