include ./panel/panelController/panelController 

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Slider
  body
    .js-app
      +panel-controller(1)
    .js-app2
      +panel-controller(2)
    .js-app3
      +panel-controller(3)

