include ./panelController/panelController 

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Slider
    body
        .app
            +panel-controller(1)
        .app2
            +panel-controller(2)
        