.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 15px;
}

.slider {
  width: 100%;
  min-height: 300px;
  min-width: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__block {
    background-color: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;

    height: 8px;
    cursor: pointer;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    &_vertical {
      position: absolute;
      height: 100%;
      width: 8px;
    }
  }

  &__step-block {
    position: absolute;
    top: 24px;
    transform: translateX(-50%);

    font-size: 14px;
    color: rgba(31, 32, 65, 0.45);

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -12px;
      width: 2px;
      height: 12px;
      background: rgba(31, 32, 65, 0.55);
      box-sizing: border-box;
      transform: translateX(-50%);
      border-radius: 40%;
    }

    &_vertical {
      right: 25px;
      transform: translateY(50%);

      &::after {
        content: "";
        left: 110%;
        top: 50%;
        position: absolute;

        width: 12px;
        height: 2px;

        transform: translateY(-50%);
      }
    }
  }
}
.thumb {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  position: absolute;
  top: -5px;
  cursor: pointer;
  z-index: 1;

  &__label {
    position: absolute;
    bottom: 20px;
    left: -15px;

    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 6px;

    text-align: center;
    color: #ffffff;
    &_vertical {
      top: -10px;
      left: 20px;
    }
  }
  &_vertical {
    transform: translateY(-50%);
    right: -5px;
  }
}

.progress-bar {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  position: absolute;
}
