.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 15px;
}

.slider {
  width: 50%;

  &__main-block {
    background-color: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;

    height: 8px;
    cursor: pointer;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &_vertical {
    transform: rotate(90deg);
    width: 20%;
  }

  &__sub-block {
    position: relative;
    top: 5px;
    display: flex;
  }
  &__step {
    position: absolute;
    top: 24px;
    transform: translateX(-50%);

    font-size: 14px;
    color: rgba(31, 32, 65, 0.45);
    &_max {
      right: 4px;
    }
    &_min {
      left: 5px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: -12px;
      width: 2px;
      height: 12px;
      background: rgba(31, 32, 65, 0.55);
      box-sizing: border-box;
      transform: translateX(-50%);
      border-radius: 40%;
    }
    &_min-vertical {
      transform: rotate(270deg) translate(10px, -5px);
      //transform: ;
      top: 5px;
      left: -30px;
      right: 350px;
      bottom: 30px;
    }
    &_max-vertical {
      transform: rotate(270deg);
      top: 5px;
      right: -3px;
      left: 350px;
      bottom: -10px;
    }
  }
}
.thumb {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  position: absolute;
  top: -5px;
  cursor: pointer;
  z-index: 1;

  &__label {
    position: absolute;
    bottom: 20px;
    left: -15px;

    padding: 5px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 6px;

    text-align: center;
    color: #ffffff;
    &_vertical {
      transform: rotate(270deg);
      bottom: 25px;
    }
  }
}

.progress-bar {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  position: absolute;
  height: 7px;
}

.panel {
  padding: 10px 20px 20px;
  margin-right: 50px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;

  flex-shrink: 0;
  &__input {
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 7px 5px 7px 10px;
    &_medium {
      width: 80%;
    }
    &_short {
      width: 60%;
    }
  }
  &__block {
    text-align: left;
    margin-top: 10px;
    &_column {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
    }
    &_row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
    &_margin-l {
      margin-left: 10px;
    }
  }
  &__radio {
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    &_margin-left {
      margin-left: 15px;
    }
  }
  &__checkbox {
    margin-left: 0px;
    margin-right: 5px;
  }
}
